# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on:
  push:
    branches: ['*']
    tags: ['*']
  pull_request:
    branches: [master]

jobs:
  gh-pages:
    name: 'Host with GitHub Pages'
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          tag_name: 'v%s'
          node-version: '12.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Build icons
        run: |
          npm run build
      - name: Clean repo
        run: |
          git checkout --orphan gh-pages
          git rm -rf . > /dev/null 2>&1
      - name: load the built
        uses: actions/download-artifact@v2
        with:
          name: the-built
      - name: Setup and deploy Github Pages
        run: |
          rm -rf dist
          mv docs/* .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add . > /dev/null 2>&1
          git commit -m "Deploy" > /dev/null 2>&1
          git push --force origin gh-pages

